# Database
DB_HOST=db
DB_USER=yukboard
DB_PASSWORD=yukboard
DB_NAME=yukboard
DB_PORT=5432

# Backend
JWT_SECRET=your-secret-key-change-in-production

# Frontend
NUXT_BACKEND_URL=http://localhost:8000/api/v1
